@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navv{
    z-index: 2;
    margin-right: 5%;
    margin-top: -3%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* .home{
    width: 100%;
    height: 100vh; 
    background-color: red;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
} */

.team{
    width: 100%;
    height: 100vw;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}

.caroselll{
    position: absolute;
}

.content{
    width: 100%;
    height: 100vw;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-item{
    color: transparent;
}

.entrar:hover{
    color: aquamarine;
}


/* ul{
    margin-left: 50%;
}

li{
    margin-left: 13%;
    color: white;
} */



.nav-link, .nav-link{
    color: rgb(245, 245, 245);
}
button{
    background-color: transparent;
    border: 0;
    color: rgb(245,245,245);
}

footer{
    width: 100%;
    height: 50vw;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}