@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navv{
    z-index: 2;
    margin-right: 5%;
    margin-top: -3%;
    position: absolute
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.team{
    width: 100%;
    height: 100vh;
    background-image: url("../img/Equipe/Fundo/background.gif");
    z-index: 9999;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.caroselll{

}

.content{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-item{
    color: transparent;
}

.entrar:hover{
    color: aquamarine;
}

.row-1,
.row-2{
    display: flex;
}

.nav-link, .nav-link{
    color: rgb(245, 245, 245);
    font-size: 160%;
}

.botao-nav:hover{
    /* background-color: rgb(161, 56, 161); */
    color: rgb(90, 90, 90);
}

.row-1 .programmers-group,
.design-group,
.search-group,
.documentation-group {
    z-index: 99;
    width: 25vw;
    height: 15vw;
    border: 6px solid rgb(191, 230, 255);
    border-radius: 25px;
    overflow: hidden;
    margin: 10px;
}

.row-1 .programmers-group {
    background: url("../img/Equipe/grupo-programação.jpg") center/cover no-repeat; /* Defina a imagem de fundo */
    box-shadow: 
    inset 0 0 5px #0026ff,
    inset 0 0 15px #0026ff,
    inset 0 0 15px #0026ff,
    0 0 5px #0026ff,
    0 0 15px #0026ff,
    0 0 15px #0026ff;
}

.row-1 .design-group {
    background: url("../img/Equipe/grupo-programação.jpg") center/cover no-repeat; 
    box-shadow: 
    inset 0 0 5px #0026ff,
    inset 0 0 15px #0026ff,
    inset 0 0 15px #0026ff,
    0 0 5px #0026ff,
    0 0 15px #0026ff,
    0 0 15px #0026ff;
}

.row-2 .search-group {
    background: url("../img/Equipe/grupo-pesquisa.jpg") center/cover no-repeat; 
    box-shadow: 
    inset 0 0 5px #0026ff,
    inset 0 0 15px #0026ff,
    inset 0 0 15px #0026ff,
    0 0 5px #0026ff,
    0 0 15px #0026ff,
    0 0 15px #0026ff;
}

.row-2 .documentation-group {
    background: url("../img/Equipe/grupo-pesquisa.jpg") center/cover no-repeat; 
    box-shadow: 
    inset 0 0 5px #0026ff,
    inset 0 0 15px #0026ff,
    inset 0 0 15px #0026ff,
    0 0 5px #0026ff,
    0 0 15px #0026ff,
    0 0 15px #0026ff;
}

footer{
    width: 100%;
    height: 100vh;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    background-color: transparent;
    border: 0;
    color: rgb(245,245,245);
}

