
/* NavBar */


nav ul{
    display: flex;
}

nav img.logo{
    width: 18vw;
    position: absolute;
    cursor: pointer;
    left: 20px;
}

ul.nav-itens{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 8px 0 8px 0;
    background: transparent;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
}

nav ul li a,
nav ul li p{
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    color: var(--light0);
    z-index: 2;
}

nav ul li:nth-child(3){
    margin-right: 40px;
}

.content-itens{
    display: flex;
    align-items: center;
}

.content-itens li:hover{
    background: linear-gradient(to right, var(--color1) 10%, var(--color2) 50%, var(--color1) 90%);    
    background-size: 200%;
    color: var(--light0);
    background-position: 100%;
    animation: gradient 4s linear infinite;
}
nav ul li a:hover{
    color: var(--light0);
}
nav ul.profile {
    padding: 0 20px;
}

nav ul.profile a {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav .profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

nav .profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav ul.profile a {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    background-color: var(--color3);
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 
    0 0 5px #0026ff,
    0 0 15px #0026ff,
    0 0 15px #0026ff;
}

.nav-itens{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 15px;
}