.container{
    position: static;
    margin-left: 300px;
}
.ret1{
    height: 15px;
    position: fixed;
    border-top: 3px solid black;
    border-left: 3px solid black;
    width: 26%;
}

.ret2{
    position: fixed;
    margin-top: 2.4%;
    height: 4%;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    width: 26%;
    margin-left: 20px;
}

.quad1{
    position: fixed;
    margin-top: 3%;
    margin-left: -0.80%;
    border-top: 3px solid black;
    height: 3%;
    width: 3.5%;
    rotate: 43deg;
}

.quad2{
    position: fixed;
    margin-left: 26.3%;
    margin-top: -0.1%;
    border-bottom: 3px solid black;
    height: 3%;
    width: 3.5%;
    rotate: 43deg;
}